/* external css: flickity.css */
/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.main{
  
  position: relative;
  max-width: 920px;
  margin:auto;
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  
  border: none;
  
}

.flickity-button:hover {
  
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: grey;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
  z-index: 9999;
  mask-composite:exclude;
}


.flickity-prev-next-button.previous { left: -40px; }
.flickity-prev-next-button.next { right: -40px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  width:100%;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}


@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  width:100%;

}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell img{
  width: 300px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
}
.carousel img {
  display: block;
  height: 600px;
} 
.carousel-image {
  display: block;
  height: 600px;
  
  /* set min-width,
     allow images to determine cell width */
  
  
  margin-right: 10px;
  /* vertically center */
  
}

.carousel-image.prev, .carousel-image.next{
  filter: blur(2px);
  opacity: 0.8;
}

.carousel-image:focus {
  opacity:1;
}